.bg-modal, .bg-modal2, .bg-modal3, .bg-modal4, .bg-modal5, .bg-modal6,  .bg-modal7, .bg-modal8{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.bg-modal8{
    min-height: 400px;
    padding-left: 25% !important;
    padding-right: 25%;


}
.modal-content{
    width: 50%;
    height: fit-content;
    /* background-color: white; */
    border-radius: 10px;
}
.sign-up{
    height: 60%;
    width: 60%;
    background-color: rgba(36, 34, 34) !important;
    color: #0f8d83;
    padding-left: 2%;
    padding-right: 2%;
}
@media screen and (max-width: 767px) {

    .modal-content{
        width: 95%;
        height: fit-content;
        /* background-color: white; */
        border-radius: 10px;
    }
    .sign-up{
        width: 85%;

    }
    .bg-modal8{
        min-height: 400px;
        padding-left: 2% !important;
        padding-right: 2%;
        width: 100%;


    }
  }

/* sign up close button  */
.sucb{
    color: #0f8d83;
    outline-color: #0f8d83;
    border-color: #0f8d83;
}
.edit-area{
    padding-top: 0 !important;
    margin-top: 0 !important;
}
