.rule-container{
    /* border-radius: 30px !important; */
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    display: block;
}
.rule-label div p{
    font-size: large;
    color: #0f8d83;
    text-align: right;
    width: 100%;
    padding-right: 5px;
}

.rule-value div p{
    font-size: large;
}
