body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100vh;
  width: 100%;
  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0; */
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
}
.dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
}
.sidebar h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
  }


.sidebar a:hover {
  color: #f1f1f1;
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.colors{
    background-color: #ffad7d;
}
.dropdown-container{
    display: none;
    font-size: 10px
}
.dropdown-sublink{
    font-size: 17px;
}
